<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.racetoface.musicplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/musiccd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/musiccd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FlashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Name" />
        <activity
            android:name=".MusicControls2"
            android:screenOrientation="portrait" />
        <activity android:name=".VideoPlayer" />
        <activity android:name=".VideoPlayer2" />

    </application>

</manifest>